<!DOCTYPE html>
<html>
    <head>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src='https://cdn.plot.ly/plotly-2.2.0.min.js'></script>
	    <script src='https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.17/d3.min.js'></script>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
        <title>Real Time Sentiment Tracker</title>
    </head>
    <script>
        $.getJSON('/performance', function(data) {
            accuracy = parseFloat(data.accuracy) + "%";
            performance = parseFloat(data.returns) + "%";
            document.getElementById("accuracy").innerHTML = accuracy;
            document.getElementById("returns").innerHTML = performance;
        });

        $.getJSON('/data', function(data) {
            var trace1 = {
                type: "scatter",
                mode: "lines",
                name: 'AAPL High',
                x: data.Time,
                y: data.Sentiment,
                line: {color: '#17BECF'}
            }
            var layout = {
                xaxis: {
                    autorange: true,
                },
                paper_bgcolor: "rgb(50, 50, 50)",
                plot_bgcolor: "rgb(50, 50, 50)",
            };
            var data = [trace1]
            Plotly.newPlot('chart', data, layout);
        });

        $.getJSON('/mentions', function(data) {
            document.getElementById("tick1").innerHTML = data['Ticker1']
            document.getElementById("tick2").innerHTML = data['Ticker2']
            document.getElementById("tick3").innerHTML = data['Ticker3']
            document.getElementById("tick4").innerHTML = data['Ticker4']
            document.getElementById("tick5").innerHTML = data['Ticker5']
        });
    </script>
    <body>
        <section class="container">
            <div class="left-half">
                <h1>SentiTrack.io</h1>
                <h2 id = "returns">0</h2>
                <h5>Historical Performance</h5>
                <h2 id = "accuracy">0</h2>
                <h5>Accuracy</h5>
                <h2 id = "tick1"></h2>
                <h2 id = "tick2"></h2>
                <h2 id = "tick3"></h2>
                <h2 id = "tick4"></h2>
                <h2 id = "tick5"></h2>
                <h5>Top Retail Mentions</h5>
            </div>
            <div class="right-half">
                <div id='chart'>
                </div>
            </div>
          </section>
    </body>
</html>